{% extends 'base.html.jinja' %}

{% block head %}

{% endblock %}

{% block header %}
    <h2>{% block title %}Delete "{{ character.title }} {{ character.name }}" ? {% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.submit() }}
    </form>
{% endblock %}