{% extends 'base.html.jinja' %}

{% block header %}
<h1>Actions and inventory</h1>
{% endblock %}

{% block content %}
    {% if profile.characters.all() %}
    Your characters:
    <ul>
    {% for character in profile.characters.all() %}
        <li><a class="action" href="{{ url_for('character.view', id=character.id) }}">{{ character.title }}</a></li>
    {% endfor %}
    </ui>
    {% endif %}
    <div>
    <a class="action" href="{{ url_for('character.create', type='coc') }}">Create a new character</a>
    </div>
{% endblock %}
