{% extends 'base.html.jinja' %}

{% block head %}
{{ super() }}
    {% assets "scss_profile" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block header %}
<h2>Your inventory</h2>
{% endblock %}

{% block content %}
    <div class="profile_inventory">
    <section id="characters">
    {% if characters %}
    <h3>Characters</h3>
    <table>
    <tr><th>Title</th><th>System</th><th>Actions</th><th>In campaigns</th></tr>
    {% for character in characters %}
        <tr>
            <td><a class="action" href="{{ url_for('character.view', id=character.id) }}">{{ character.title }}</a></td>
            <td>{{ character.system }}</td>
            <td><a href="{{ url_for('character.editjson', id=character.id) }}">Edit</a></td>
            <td>{% if character.campaigns %}{% for campaign in character.campaigns %}
                <a href="{{ url_for('campaign.view', id=campaign.id) }}">{{ campaign.title }}</a> 
                {% endfor %}{% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    <div>
        <a class="action" href="{{ url_for('character.system_select') }}">Create</a>
        <a class="action" href="{{ url_for('character.import_character') }}">Import</a><br />
    </div>
    </section>

    <section id="campaigns">
    {% if profile.campaigns_as_player %}
        <div>
            <h3>Joined campaigns</h3>
            <ul>
            {% for campaign in profile.campaigns_as_player %}
                <li><a class="action" href="{{ url_for('campaign.view', id=campaign.id) }}">{{ campaign.title }}</a> (by {{ campaign.user.user.username }})</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
        <div>
            <h3>Your campaigns</h3>
            {% if profile.campaigns %}
                <ul>
                {% for campaign in profile.campaigns %}
                    <li><a class="action" href="{{ url_for('campaign.view', id=campaign.id) }}">{{ campaign.title}}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            <div>
                <a class="action" href="{{ url_for('campaign.create') }}">Create a new campaign</a><br />
            </div>
        </div>
    </section>

    </div>
{% endblock %}
