{% extends 'shell.html.jinja' %}
{% block head %}
    {{ super() }}
    <title>{% block title%}Tell me{% endblock %} - What Happened?</title>
    <meta name="_token" content="{{ csrf_token() }}">
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
    </script>
    
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Permanent+Marker&display=swap" rel="stylesheet"> 
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block body %}
    <header>
    <div class="navbar">
    <h1>What Happened?</h1>
        <nav>
            <ul>
            {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Log in</a></li>
            {% else %}
                <li><a href="{{ url_for('profile.index') }}">{{ current_user.username }}</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
            {% endif %}
            </ul>
            </div>
            {% if self.menu() %}
            <div class="navbar">
                {% block menu %}
                {% endblock menu %}
            </div>
            {% endif %}
        </nav>
    </div>
    </header>
    <div class="messagebox" id="messagebox">
        No message.
    </div>

    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {%- for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {%- endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
{% endblock %}