{% extends 'base.html.jinja' %}

{% block header %}
<h2>Welcome to WhatHappened?</h2>
{% endblock %}

{% block content %}
    This is a test page for the site, just to see that something basic is working.
{% endblock %}
