<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title%}Tell me{% endblock %} - What Happened?</title>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Permanent+Marker&display=swap" rel="stylesheet"> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    {% block head %}{% endblock %}
</head>

<body>
{% block body %}
{% endblock %}
</body>