{% extends 'character/sheet.html.jinja' %}

{% block head %}
{{ super() }}

{% assets "scss_character_tftl" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}

{% if editable %}
<script src="{{ 'tftl.js' | webpack}}"></script>
{% endif %}

{% endblock %}

{%- macro check_progress(field, points=10) %}
<span {%- if editable %} class="editable_check_progress" {%- endif %} data-field="{{field}}">
    {% for v in range(points) %}
    <input type="checkbox" {{ "checked" if v < character.mechanics.attribute(field) }} autocomplete="off"
        data-value="{{ v + 1}}" />
    {% endfor %}
</span>
{%- endmacro %}


{% block content %}
<div id="busy">

</div>

<div class="extrainfo">
    {% if editable and character.campaigns %}
    In campaign(s): <a href="{{url_for('campaign.view', id=character.campaigns.0.id)}}">{{ character.campaigns.0.title
        }}</a>
    {% endif %}

</div>


<div class="charactersheet">
    <section id="stats">
        <div class="box attributes">
            <h3>Attributes</h3>
            <div class="keyvalue">
                <label title="jump high, run fast, fight, sneak, and climb">Body: </label>{{
                editable_field(None, "attributes.Body", 1, "number") }}
                <label
                    title="understand machines and robots, program technological things, open locked doors, and build things.">Tech:
                </label>{{ editable_field(None, "attributes.Tech", 1, "number") }}
                <label
                    title="make friends, lie, know the right people, create a good atmosphere, and persuade others.">Heart:
                </label>{{ editable_field(None, "attributes.Heart", 1, "number") }}
                <label
                    title="find weak points, understand people, situations and creatures, solve riddles, understand clues, and have the right knowledge at the right time.">Mind:
                </label>{{ editable_field(None, "attributes.Mind", 1, "number") }}
            </div>
        </div>
        <div class="box skills">
            <h3>Skills</h3>
            <div class="keyvalue">
                <label title="hide and sneak.">Sneak (Body): </label>{{ editable_field(None, "skills.Sneak (Body)", 0,
                "number") }}
                <label title="lift heavy things, fight, and endure in physically stressful situations.">Force (Body):
                </label>{{ editable_field(None, "skills.Force (Body)", 0, "number") }}
                <label title="climb high, balance and run fast.">Move (Body): </label>{{ editable_field(None, "skills.Move
                (Body)", 0, "number") }}
                <label title="build and manipulate machines and other mechanical items.">Tinker (Tech): </label>{{
                editable_field(None, "skills.Tinker (Tech)", 0, "number") }}
                <label title="create and manipulate computer programs and electronic devices.">Program (Tech):
                </label>{{ editable_field(None, "skills.Program (Tech)", 0, "number") }}
                <label title="understand machines and other technical systems.">Calculate (Tech): </label>{{
                editable_field(None, "skills.Calculate (Tech)", 0, "number") }}
                <label title="know the right person.">Contact (Heart): </label>{{ editable_field(None, "skills.Contact
                (Heart)", 0, "number") }}
                <label title="charm, lie, befriend and manipulate.">Charm (Heart): </label>{{
                editable_field(None, "skills.Charm (Heart)", 0, "number") }}
                <label
                    title="make others work well together, and to help them when they are scared, sad or confused.">Lead
                    (Heart): </label>{{ editable_field(None, "skills.Lead (Heart)", 0, "number") }}
                <label title="find hidden objects and understand clues.">Investigate (Mind): </label>{{
                editable_field(None, "skills.Investigate (Mind)", 0, "number") }}
                <label title="have the right piece of information or to be able to find it at the library.">Comprehend
                    (Mind): </label>{{ editable_field(None, "skills.Comprehend (Mind)", 0, "number") }}
                <label
                    title="understand what makes a person, an animal or any kind of conscious thing tick, and how to find its weak spot.">Empathize
                    (Mind): </label>{{ editable_field(None, "skills.Empathize (Mind)", 0, "number") }}
            </div>
        </div>
        <div class="box conditions">
            <h3>Conditions</h3>
            <div class="keyvalue">
                <label>Upset: </label><span>{{ editable_binary(None, "conditions.Upset", False) }}</span>
                <label>Scared: </label><span>{{ editable_binary(None, "conditions.Scared", False) }}</span>
                <label>Exhausted: </label><span>{{ editable_binary(None, "conditions.Exhausted", False) }}</span>
                <label>Injured: </label><span>{{ editable_binary(None, "conditions.Injured", False) }}</span>
                <label>Broken: </label><span>{{ editable_binary(None, "conditions.Broken", False) }}</span>
            </div>

        </div>
        <div class="box experience">
            <h3>Experience</h3>
            <section>
                {{ check_progress("experience") }}
            </section>
        </div>

    </section>
    <section id="character">
        <div class="splitcontainer">
            <div class="box personalia">
                <h3>Personalia</h3>
                <section>
                    <label>Name: </label>{{ editable_field(None, "personalia.name", "Unknown") }}
                    <label>Type: </label><span>{{ editable_field(None, "personalia.type", "Unknown") }}</span><br />
                    <label>Age: </label>{{ editable_field(None, "personalia.age", "18") }}
                    <label>Luck points: </label><span>{{ check_progress('personalia.luck_points',
                        points=5)}}</span><br />
                    <label>Drive: </label>{{ editable_field(None, "personalia.drive", "Unknown") }}<br />
                    <label>Problem: </label>{{ editable_field(None, "personalia.problem", "Unknown") }}<br />
                    <label>Anchor: </label>{{ editable_field(None, "personalia.anchor", "Unknown") }}<br />
                    <label>Pride: </label>{{ editable_field(None, "personalia.pride.description", "Unknown") }} {{
                    editable_binary(None, "personalia.pride.used") }}<br />
                    <label>Description: </label>{{ editable_field(None, "personalia.description", "Unknown") }}<br />
                    <label>Favourite song: </label>{{ editable_field(None, "personalia.favourite_song", "Unknown") }}
                </section>
            </div>
            <div class="box portrait {%- if editable %} editable{%- endif %}" data-type="picture">
                {% if character.portrait %}<img src="data:image/jpg;base64, {{ character.portrait }}" />{% else %}<img
                    src="{{ url_for('static', filename='images/placeholderportrait.png')}}" />{% endif %}
            </div>
        </div>
        <div class="box relationships">
            <h3>Relationships</h3>
            <h4>Kids</h4>
            <section>
                <ul class="{%- if editable %} editable_list{%- endif %}" data-field="relationships.kids">
                    {% for item in character.mechanics.relationships('kids') %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </section>

            <h4>NPCs</h4>
            <section>
                <ul class="{%- if editable %} editable_list{%- endif %}" data-field="relationships.npcs">
                    {% for item in character.mechanics.relationships('npcs') %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </section>
        </div>
        <div class="box items">
            <h3>Items</h3>
            <section>
                <table id="tblItems" class="{%- if editable %} editableTable{%- endif %}" data-field="items">
                    <thead>
                        <tr>
                            <th data-property="name" data-type="string">Item</th>
                            <th data-property="bonus" data-type="number">Bonus</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in character.mechanics.items() %}
                        <tr data-row="{{ loop.index }}">
                            <td data-type="string">{{ item.name }}</td>
                            <td data-type="number">{{ item.bonus }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        <div class="box hideout">
            <h3>Hideout</h3>
            {{ editable_area("hideout", "None") }}
        </div>
        <div class="box notes">
            <h3>Notes</h3>
            {{ editable_area("notes", "None") }}

        </div>
    </section>
</div>

{% endblock %}
