{% extends 'character/sheet.html.jinja' %}

{% block head %}
    {{ super() }}
    {% if editable %}
    {{ webpack['coc7e.js']}}
    {% endif %}

{% endblock %}


{% block content %}
{%- if subskillform %}
<div class="form-subskill" id="subskillform" hidden>
    <form method="POST" action="{{ url_for('character.view', id=character.id) }}">
        {{ subskillform.hidden_tag() }}
        {{ subskillform.parent() }}
        {{ subskillform.name(placeholder="New subskill...")}} {{ subskillform.submit()}}
    </form>
</div>
{%- endif %}
<div id="busy">

</div>
<div class="extrainfo">
  {% if editable and character.campaigns %}
    In campaign(s): <a href="{{url_for('campaign.view', id=character.campaigns.0.id)}}">{{ character.campaigns.0.title }}</a>
  {% endif %}

</div>

<div class="charactersheet">
    <div class="splitcontainer">
        <div class="box personalia">
        <h3>{{ typeheader }}</h3>
            <section>
                <label>Name: </label>{{ editable_field("personalia.Name", "Unknown") }}<br />
                <label>Occupation: </label><span>{{ editable_field("personalia.Occupation", "Unknown") }}</span><br />
                <label>Age: </label>{{ editable_field("personalia.Age", "18") }}
                <label>Sex: </label><span>{{ editable_field('personalia.Gender', 'Unknown')}}</span><br />
                <label>Residence: </label><span>{{ editable_field("personalia.Residence", "Unknown") }}</span><br />
                <label>Birthplace: </label><span>{{ editable_field("personalia.Birthplace", "Unknown") }}</span><br />
            </section>
        </div>
        <div class="box characteristics">
            <h3>Characteristics</h3>
            <section>
            <table>
                <tr>
                    <td><label>STR:</label></td><td><span class="stat">{{ editable_stat('characteristics.STR') }}</span></td>
                    <td><label>DEX:</label></td><td><span class="stat">{{ editable_stat('characteristics.DEX') }}</span></td>
                    <td><label>POW:</label></td><td><span class="stat">{{ editable_stat('characteristics.POW') }}</span></td>
                </tr>
                <tr>
                    <td><label>CON:</label></td><td><span class="stat">{{ editable_stat('characteristics.CON') }}</span></td>
                    <td><label>APP:</label></td><td><span class="stat">{{ editable_stat('characteristics.APP') }}</span></td>
                    <td><label>EDU:</label></td><td><span class="stat">{{ editable_stat('characteristics.EDU') }}</span></td>
                </tr>
                <tr>
                    <td><label>SIZ:</label></td><td><span class="stat">{{ editable_stat('characteristics.SIZ') }}</span></td>
                    <td><label>INT:</label></td><td><span class="stat">{{ editable_stat('characteristics.INT') }}</span></td>
                    <td><label>Move:</label></td><td>{{ editable_field('characteristics.Move') }}</td>
                </tr>
            </table>
            </section>
        </div>
        <div class="box portrait {%- if editable %} editable{%- endif %}" data-type="picture">
            {% if character.portrait %}<img src="data:image/jpg;base64, {{ character.portrait }}" />{% else %}<img src="{{ url_for('static', filename='images/placeholderportrait.png')}}" />{% endif %}
        </div>
    </div>
    <div class="splitcontainer">
        <div class="box hitpoints">
            <h3>Hitpoints</h3>
            <section>
                <label>Current: </label> {{ editable_field("characteristics.HitPts") }} <br />
                <label>Max: </label>{{ editable_field("characteristics.HitPtsMax") }}<br />
                <label>Major wound: </label>{{ editable_binary("characteristics.HitPtsMajorWound") }}
            </section>
        </div>
        <div class="box sanity">
            <h3>Sanity</h3>
            <section>
                <label>Current:</label> {{ editable_field('characteristics.Sanity', "0") }}<br />
                <label>Start:</label> {{ editable_field('characteristics.SanityStart', "0") }}<br />
                <label>Max:</label> {{ editable_field('characteristics.SanityMax', "99") }} <br />
                <label>Temp insane:</label> {{ editable_binary("characteristics.SanityTemp") }}<br />
                <label>Indefinitely insane:</label> {{ editable_binary("characteristics.SanityIndef") }}
            </section>
        </div>
        <div class="box magicpoints">
            <h3>Magic points</h3>
            <section>
                <label>Current: </label>{{ editable_field('characteristics.MagicPts', "0") }}<br />
                <label>Max: </label>{{ editable_field('characteristics.MagicPtsMax', "0") }}
            </section>
        </div>
        <div class="box luck">
            <h3>Luck</h3>
            <section>
                <label>Current: </label>{{ editable_field('characteristics.Luck', "0") }}<br />
                <label>Max: </label>{{ editable_field('characteristics.LuckMax', "0") }}
            </section>
        </div>
    </div>
    <div class="box">
        <h3>Investigator skills</h3>
        <section class="skills" id="skills">
            {% for skill in character.skills() %}
            <div class="skill">
                <span class="skillcheckmark">{{skill_checkmark(skill['name']) }}</span>
                <span class="skillname {% if skill['occupation'] %}occupation{% endif %}" data-field="{{ skill['name'] }}" data-specializations="{{skill['specializations']}}">{{ skill['name'] }} <span class="initial_value">({{ skill['start_value'] }}%)</span>: </span>
                <span class="value stat">{{ editable_skill(skill['name'], None, 0)}}</span>
            </div>
            {% if skill.specializations and skill.subskills %}
                {% for subskill in skill.subskills %}
            <div class="skill">
                <span class="skillcheckmark">{{skill_checkmark(skill['name'], subskill.name ) }}</span>
                <span class="skillname {% if subskill['occupation'] %}occupation{% endif %}" data-field="{{ skill['name'] }}" data-subfield="{{ subskill['name'] }}">{{ skill['name'] }}: {{ subskill['name'] }} <span class="initial_value">({{ subskill['start_value'] }}%)</span>: </span>
                <span class="value stat">{{ editable_skill(skill['name'], subskill.name or None, 0)}}</span>
            </div>
                {% endfor %}
            {% endif %}     
            {% endfor %}
            {% if editable and skillform%}
            <div class="skill newskill">
                <form method="POST" action="{{ url_for('character.view', id=character.id) }}">
                    {{ skillform.hidden_tag() }} {{ skillform.name(placeholder="New skill...")}}
                </form>
            </div>
            {% endif %}
        </section>
    </div>
    <section class="splitcontainer" id="weaponsandcombat">
        <div class="weapons box">
            <h3>Weapons</h3>
            <section>
                <table id="tblWeapons" class="{%- if editable %} editableTable{%- endif %}" data-field="weapons">
                    <thead>
                        <tr>
                            <th data-property="name">Weapon</th>
                            <th data-property="regular">Regular</th>
                            <th>Hard</th>
                            <th>Extreme</th>
                            <th data-property="damage">Damage</th>
                            <th data-property="range">Range</th>
                            <th data-property="attacks">Attacks</th>
                            <th data-property="ammo">Ammo</th>
                            <th data-property="malf">Malf</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for weapon in character.attribute('weapons') %}
                        <tr data-row="{{ loop.index }}">
                            <td>{{ weapon['name'] }}</td>
                            <td>{{ weapon['regular'] }}</td>
                            <td>{{ weapon['regular'] | half }}</td>
                            <td>{{ weapon['regular'] | fifth }}</td>
                            <td>{{ weapon['damage'] }}</td>
                            <td>{{ weapon['range'] }}</td>
                            <td>{{ weapon['attacks'] }}</td>
                            <td>{{ weapon['ammo'] }}</td>
                            <td>{{ weapon['malf'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        <div class="combat box">
            <h3>Combat</h3>
            <section>
                <label>Damage bonus: </label>{{ editable_field("combat.DamageBonus") }}<br />
                <label>Build: </label>{{ editable_field("combat.Build") }}<br />
                <label>Dodge: </label>{{ editable_field("combat.Dodge") }}<br />
            </section>
        </div>
    </section>
    <section class="box">
        <h3>Backstory</h3>
        <section class="backstory">
            <div class="backstorysection">
                <h4>Personal Description</h4>
                {{ editable_area("backstory.description", "None") }}
            </div>
            <div class="backstorysection">
                <h4>Ideology/Beliefs</h4>
                {{ editable_area("backstory.ideology", "None") }}
            </div>
            <div class="backstorysection">
                <h4>Significant people</h4>
                {{ editable_area("backstory.people", "None") }}
            </div>
            <div class="backstorysection">
                <h4>Meaningful locations</h4>
                {{ editable_area("backstory.locations", "None") }}
            </div>
            <div class="backstorysection">
                <h4>Treasured possessions</h4>
                {{ editable_area("backstory.possessions", "None") }}
            </div>
            <div class="backstorysection">
                <h4>Traits</h4>
                {{ editable_area("backstory.traits", "None") }}
            </div>
            <div class="backstorysection">
                <h4>Injuries & scars</h4>
                {{ editable_area("backstory.injurues", "None") }}
            </div>
            <div class="backstorysection">
                <h4>Phobias & manias</h4>
                {{ editable_area("backstory.phobias", "None") }}
            </div>
            <div class="backstorysection">
                <h4>Arcane tomes, spells & artifacts</h4>
                {{ editable_area("backstory.tomes", "None") }}
            </div>
            <div class="backstorysection">
                <h4>Encounters with strange entities</h4>
                {{ editable_area("backstory.encounters", "None") }}
            </div>
        </section>
    </section>
    <section class="splitcontainer">
        <div class="gearpossessions box">
            <h3>Gear &amp; Possessions</h3>
            <section>
                <ul class="{%- if editable %} editable_list{%- endif %}" data-field="possessions">
                {% for item in character.attribute('possessions') or [] %}
                    <li>{{ item }}</li>
                {% endfor %}
                </ul>
            </section>
        </div>
        <div class="cashassets box">
            <h3>Cash &amp; Assets</h3>
            <section>
                <label>Spending level: </label>{{ editable_field("cash.spending")}}<br />
                <label>Cash: </label>{{ editable_field("cash.cash")}}<br />
                <label>Assets: </label>{{ editable_field("cash.assets")}}<br />{{ editable_area("assets", "None") }}
            </section>
        </div>
    </section>
    <section>
        <div class="notes box">
        <h3>Notes</h3>
        <div class="notes">
            {{ editable_area("notes", "None") }}
        </div>
        </div>
    </section>
</div>
{% endblock %}
