.venv/

*.pyc
__pycache__/
.mypy_cache/

**/.buildmarker

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.webassets-cache/

src/whathappened/static/js/
src/whathappened/static/css/
src/whathappened/static/manifest.json
*.sqlite

.noseids
nosetests.xml

.env
.vscode/chrome/

uploads/

tests/sheets/current/
