graft src/whathappened/static
graft src/whathappened/templates 
graft src/whathappened/migrations/
global-include *.jinja
global-include *.json
global-include *.yaml
global-include *.scss
global-exclude *.pyc
global-exclude src/whathappened/static/.webassets-cache/*
