graft whathappened/static
graft whathappened/templates 
graft whathappened/migrations/
global-include *.jinja
global-include *.json
global-include *.yml
global-include *.scss
global-exclude *.pyc
global-exclude whathappened/static/.webassets-cache/*
