email-validator
flake8
Flask
Flask-Assets
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
jsonschema
markdown2
packaging
Pillow
PyJWT
pyScss
python-dotenv
pywebpack
wtforms-alchemy
