    alembic==1.13.2
    email-validator==2.2.0
    Flask-Login==0.6.3
    Flask-Mail==0.10.0
    Flask-WTF==1.2.1
    flask==3.0.3
    gunicorn==22.0.0
    itsdangerous==2.2.0
    Jinja2==3.1.4
    jsonschema==4.22.0
    markdown2==2.4.13
    packaging==24.1
    Pillow==10.3.0
    PyJWT==2.8.0
    pyScss @ git+https://github.com/Kronuz/pyScss.git
    python-dotenv==1.0.1
    PyMysql==1.1.1
    PyYAML==6.0.1
    SQLAlchemy==2.0.31
    werkzeug==3.0.3
    webassets==2.0
    jinja2-webpack==0.2.0
    pydantic==2.8.0
    pydantic-settings
    msgspec
    WTForms==3.1.2
    