{% extends 'base.html.jinja' %}

{% block header %}
  <h2>{% block title %}Remove character{% endblock %}</h2>
{% endblock %}

{% block content %}
    Do you wish to remove '{{ character.title }}' from '{{ campaign.title }}'?  
      <form action="" method="post">
    {{ form.hidden_tag() }}
      <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
