{% extends 'shell.html.jinja' %}
{% block head %}
<meta name="_token" content="{{ csrf_token() }}">
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
</script>

{% assets "scss_all" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}

{% endblock %}

{% block body %}
<header>
    <div class="navbar">
        <h1>What Happened?</h1>
        <nav>
            <ul>
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Log in</a></li>
                {% else %}
                <li><a href="{{ url_for('profile.index') }}">{{ current_user.username }}</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% if self.menu() %}
    <nav>
    <div class="navbar">
        {% block menu %}
        {% endblock menu %}
    </div>
    </nav>
    {% endif %}
</header>


<div class="messagebox" id="messagebox">
    No message.
</div>

<main class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {%- for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {%- endfor %}
    <section>
    {% block content %}{% endblock %}
    </section>
</main>
<footer>
WhatHappened? ( Version: {{ whathappened_version }} ) {% block footer %}{% endblock %}
</footer>
{% endblock %}
