.campaign_messages {
    .message_form {
        form {
            flex-direction: row;

            #message {
                flex: auto;
            }
        }
    }
    .out {
        background-color: pink;
    }
}
