{% extends 'character/sheet.html.jinja' %}

{%- macro render_object(object, path='') %}
<div>
    {% for key, value in object.properties.items() %}
    {{ value.title if 'title' in value else key }}: {{ render_item(value, path + '.' + key, key) }}<br />
    {% endfor %}
</div>
{%- endmacro %}

{%- macro render_array(object, path='') %}
{% if not object.constant %}
<ul class="{%- if editable %} editable_list{%- endif %}" data-field="{{path}}">
{% else %}
<ul data-field="{{path}}">
{% endif %}
    {% for litem in character.mechanics.attribute(path) or [] %}
        <li data-field="{{ path ~ '.' ~ loop.index0 }}">{{ render_item(object['items'], path ~ '.' ~ loop.index0) }}</li>
    {% endfor %}
</ul>
{%- endmacro %}

{%- macro render_table(object, path='', key=None)%}
<section>
<table id="tbl{{object['items'].title}}" class="{%- if editable and not object.constant %} editableTable2{%- endif %}" data-field="{{ path }}">
    <thead>
    <tr>
    {% for column, properties in object['items'].properties.items() %}
    <th data-property="{{column}}" data-type="{{ properties.type }}" data-blank="{{ properties.default if properties.default is not none else '-'}}">{{column}}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for litem in character.mechanics.attribute(path)  or [] %}
    {% set rowloop = loop %}
    <tr data-row="{{ loop.index }}">
        {% for column, properties in object['items'].properties.items() %}
        <td data-type="{{ properties.type }}" data-blank="-">{{ render_item(properties, path ~ "." ~ rowloop.index0 ~ "." ~ column) }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</section>
{%- endmacro %}

{%- macro render_widget(widget, object, path='', key=None) %}
{% if widget == "table"%}
{{ render_table(object, path, key) }}
{% else %}
<div>Missing widget: {{ widget }}</div>
{% endif %}
{%- endmacro %}

{%- macro render_item(item, path='', key=None)%}
{% if 'widget' in item %}
    {{ render_widget(item.widget, item, path, key)}}
{% elif 'type' in item and item.type == 'object' %}
    {{ render_object(item, path)}}
{% elif 'type' in item and item.type == 'array' %}
    {{ render_array(item, path) }}
{% elif 'enum' in item %}
    {{ editable_choice(path, type=html_data_type(item.type), choices=item.enum) }}
{% elif 'type' in item and (item.type == 'integer' or item.type == 'string') %}
    {{ editable_field(path, type=html_data_type(item.type)) }}
{% elif 'type' in item and item.type == 'boolean'%}
    {{ editable_binary(path) }}
{% elif '$ref' in item %}
    {{ render_item(get_ref(schema, item['$ref']), path)}}
{% else %}
    Unknown stuff: {{path}} : {{ item }}
{% endif %}
{%- endmacro %}

{%- macro render_section(name, section, path='') %}
<div class="box">
    <h3>{{ section.title if 'title' in section else name }}</h3>
    {{ render_item(section, path + "." + name)}}
</div>
{%- endmacro %}


{% block head %}
{{ super() }}

{% assets "scss_character_tftl" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}

{% if editable %}
<script src="{{ 'general.js' | webpack}}"></script>
{% endif %}

{% endblock %}


{% block content %}
<div id="busy">

</div>

<div class="extrainfo">
    {% if editable and character.campaigns %}
    In campaign(s): <a href="{{url_for('campaign.view', id=character.campaigns.0.id)}}">{{ character.campaigns.0.title
        }}</a>
    {% endif %}

</div>

<div class="charactersheet">
    {% for key, value in schema.properties.character_sheet.properties.items() %}
    <section id="{{ key }}">
        {{ render_section(key, value, 'character_sheet') }}
    </section>
    {% endfor %}
</div>

{% endblock %}
