{% extends 'base.html.jinja' %}

{% block head %}
{{ super() }}

{% assets "scss_character" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}

<script src="{{ 'sheet.js' | webpack}}"></script>

{% endblock %}

{% block header %}
<h2>{% block title %}{{ character.title }}{% endblock %}</h2>
{% endblock %}

{% block menu %}
{% if current_user.is_authenticated %}
<a href="{{ url_for('character.export', id=character['id']) }}">Export</a>
| <a
    href="{{ url_for('character.import_character', id=character.id) if editable else url_for('character.import_character', code=code) }}">Copy</a>
{%- if editable %}
| <a href="{{ url_for('character.editjson', id=character.id) }}">Edit JSON</a>
| <a href="{{ url_for('character.delete', id=character.id) }}">Delete</a>
| <a href="#" id="sharebtn" data-id="{{ character.id }}">{% if not shared %}Share{% else %}Share link{% endif %}</a>
| <a href="{{ url_for('character.eventlog', character_id=character.id) }}">Event log</a>
| <a href="{{ url_for ('character.folder', id=character.id) }}">Choose folder</a>
{%- endif %}
| <a href="{{ url_for('character.tokens', id=character.id) }}">Tokens</a>
{% endif %}
{% endblock %}

{%- macro editable_field(field, default='', type='string', minimum=None, maximum=None, filter="", constant=False) %}
<span {%- if editable and not constant %} class="editable" {%- endif %} data-field="{{ field }}" data-type="{{ type }}"
    {%- if minimum is not none %}data-min="{{minimum}}" {%- endif %} {%- if maximum is not none %}data-max="{{maximum}}"
    {%- endif %}>{{
    character.mechanics.attribute(field)|uberfilter(filter) }}</span>
{%- endmacro %}

{%- macro editable_choice(field, default='', type='string', choices=[], constant=False) -%}
<span {%- if editable and not constant %} class="editable" {%- endif %} data-field="{{ field }}" data-type="{{ type }}"
    data-choices='{{ choices|tojson }}'>{{ character.mechanics.attribute(field) }}</span>
{%- endmacro -%}


{%- macro editable_skill(field, subfield=None, default='', type='string') %}
<span {%- if editable %} class="editable" {%- endif %} data-field="{{ field }}" data-subfield="{{subfield}}"
    data-type="{{ type }}" data-category="skill">{{ character.skill(field, subfield)['value'] or '_' }}</span>
<span class="half">{{ character.skill(field, subfield)['value']|half }}</span>
<span class="fifth">{{ character.skill(field, subfield)['value']|fifth }}</span>
{%- endmacro %}

{%- macro editable_stat(field, default='', type='string') %}
<span {%- if editable %} class="editable" {%- endif %} data-field="{{ field }}" data-type="{{ type }}">{{
    character.mechanics.attribute(field) }}</span>
<span class="half">{{ character.mechanics.attribute(field)|half }}</span>
<span class="fifth">{{ character.mechanics.attribute(field)|fifth }}</span>

{%- endmacro %}

{%- macro editable_area(field, default='') %}
<pre {%- if editable %} class="editable freetext" {%- endif %} data-field="{{field}}"
    data-type="area">{{ character.mechanics.attribute(field) or default }}</pre>
{%- endmacro %}


{%- macro editable_binary(field, default=False) %}
{%- if editable %}<input type="checkbox" data-field="{{field}}" data-type="binary" {%- if
    character.mechanics.attribute(field) %}checked{%- endif %} />{%- else %}
{%- if character.mechanics.attribute(field)%}*{%- else %}&nbsp;&nbsp;{%- endif %}
{%- endif %}
{%- endmacro %}

{%- macro skill_checkmark(field, subfield=None) %}
{%- if editable %}<input type="checkbox" data-field="{{field}}" data-subfield="{{subfield}}" data-type="skillcheck" {%-
    if character.skill(field, subfield)['checked'] %}checked{%- endif %} />{%- else %}
{%- if character.skill(field, subfield)['checked'] %}*{%- else %}&nbsp;&nbsp;{%- endif %}
{%- endif %}
{%- endmacro %}

{%- macro editable_weapon(key, weapon) %}
{{ key }}
{%- endmacro %}

{%- macro editable_lines(key, default) %}
{% for item in character.mechanics.attribute(key) or default %}
{{ item }}
{% endfor %}
{%- endmacro %}


{%- macro render_progress(path, value, points=10) %}
<span {%- if editable %} class="editable_check_progress" {%- endif %} data-field="{{path}}" data-value="{{ value }}">
    <span data-type="number" id="{{path}}-value">{{ value }}</span>
    {% for v in range(points) %}
    <input type="checkbox" {{ "checked" if v < value }} autocomplete="off"
        data-value="{{ v + 1}}" />
    {% endfor %}
</span>
{%- endmacro %}


