{% extends 'base.html.jinja' %}

{% block head %}
    {{ super() }}
    
    <script src="{{ 'tokens.js' | webpack }}"></script>
{% endblock %}

{% block content %}
<img src="data:image/jpg;base64, {{ picture }}" id="source_picture" />
{% endblock %}