.charactersheet {
    .header {

    }
    .skills {
        border: 1px solid gray;
        columns: 360px;
        column-gap: 2em;
        .skill {
            border-bottom: 1px dotted gray;
            .value {
                input {
                    width: 3em;
                }
            }
        }

    }
    .box {
        border: 1px solid gray;
    }
}