{% extends 'base.html.jinja' %}

{% block header %}
About this WhatHappened install!
{% endblock %}

{% block content %}
    <ul>
    {% for k, v in context.package_versions.items() %}
        <li>{{k }}: {{ v }}</li>
    {% endfor %}
    <ul>
{% endblock %}
