{%- macro character_info(character) %}
                <div class="characterinfo splitcontainer">
                    <div class="personalia">
                    {{ character.name }} ({{ character.age }})<br />
                    {{ character.htmldescription }}
                    <em>played by: {{ character.player.user.username }}</em><br />
                    [<a href="{{url_for('character.view', id=character.id)}}" {%- if character.player.user == current_user %} class="strong"{%- endif %}>View</a>]
                    {%- if editable or character.player.user == current_user %}
                        [<a href="{{ url_for('campaign.remove_character', id=campaign.id, characterid=character.id) }}">Remove</a>]
                    {%- endif %}
                    </div>
                    <div class="portrait">
                    {% if character.portrait %}<img src="data:image/jpg;base64, {{ character.portrait }}" />{% else %}<img src="{{ url_for('static', filename='images/placeholderportrait.png')}}" />{% endif %}
                    </div>
                </div>
{%- endmacro %}

<section class="characters box">
<h3>Characters</h3>
    <div>
    {% if campaign.characters %}
        {% for character in campaign.characters %}
            {{ character_info(character) }}          
        {% endfor %}
    {% else %}
        There are no characters.
    {% endif %}
    </div>

    <div>
        <input id="show_add_character" type="checkbox" autocomplete="off"><label for="show_add_character">Add character</label>
        <form action="" method="post" id="add_character_form">
            {{ characterform.hidden_tag() }}
            {{ characterform.character() }} {{ characterform.submit() }}
            {% for error in characterform.character.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </form>
    </div>
</section>

