{% extends 'base.html.jinja' %}

{%- macro character_info(character) %}
                <div class="characterinfo splitcontainer">
                    <div class="personalia">
                    {{ character.name }} ({{ character.age }})<br />
                    {{ character.description }}<br />
                    <em>{{ character.player.user.username }}</em><br />
                    [<a href="{{url_for('character.view', id=character.id)}}" {%- if character.player.user == current_user %} class="strong"{%- endif %}>View</a>]
                    {%- if editable or character.player.user == current_user %}
                        [<a href="{{ url_for('campaign.remove_character', id=campaign.id, characterid=character.id) }}">Remove</a>]
                    {%- endif %}
                    </div>
                    <div class="portrait">
                    {% if character.portrait %}<img src="data:image/jpg;base64, {{ character.portrait }}" />{% else %}<img src="{{ url_for('static', filename='images/placeholderportrait.png')}}" />{% endif %}
                    </div>
                </div>
{%- endmacro %}

{% block head %}
    {{ super() }}
    {% assets "scss_campaign" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/campaign.js') }}"></script>
{% endblock %}

{% block header %}
  <h2>{% block title %}{{ campaign.title }}{% endblock %}</h2>
{% endblock %}

{% block menu %}
    {% if editable %}
        <a href="{{ url_for('campaign.edit', id=campaign.id) }}">Edit</a>
    {% endif %}
    {% if current_user.profile in campaign.players %}
        | <a href="">Leave</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="page">

{%- if campaign.description %}
<section class="description box">
    <div class="markdown">
        {{ campaign.description|markdown }}
    </div>
</section>
{% endif %}

<div class="splitcontainer">
<section class="handouts box">
<h3>Handouts</h3>

{% if editable %}
<table class="table-header-rotated handoutshares">
<thead>
<tr>
    <th></th>
    {% for player in campaign.players %}
    <th class="rot90">
        <div>
            <span>
            {{ player.user.username }}
            </span>
        </div>
    </th>
    {% endfor %}
</tr>
</thead>
<tbody>
{% for handout in handouts %}
    <tr>      
        <th><a href="{{ url_for('campaign.handout_view', campaign_id=campaign.id, handout_id=handout.id) }}">{{ handout.title }}</a></th>
        {% for player in campaign.players %}
        <td>
            <input type="checkbox" autocomplete="off" {%- if player in handout.players %}checked{%- endif %} data-handout="{{ handout.id }}"  data-campaign="{{ campaign.id }}" data-player="{{ player.id }}"/>
        </td>
        {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
    <a href="{{ url_for('campaign.handout_view', campaign_id=campaign.id) }}">Edit handouts</a>
{% else %}
    <ul>
{% for handout in handouts %}
    {%- if current_user.profile in handout.players %}<li><a href="{{ url_for('campaign.handout_view', campaign_id=campaign.id, handout_id=handout.id) }}">{{ handout.title }}</a></li>{%- endif %}
{% endfor %}
    </ul>

    [<a href="{{ url_for('campaign.handout_view', campaign_id=campaign.id) }}">Archive</a>]

{% endif %}
</section>

<section class="characters box">
<h3>Characters</h3>
    <div>
    {% if campaign.characters %}
        {% for character in campaign.characters %}
            {{ character_info(character) }}          
        {% endfor %}
    {% else %}
        There are no characters.
    {% endif %}
    </div>

    <div>
        <input id="show_add_character" type="checkbox" autocomplete="off"><label for="show_add_character">Add character</label>
        <form action="" method="post" id="add_character_form">
            {{ characterform.hidden_tag() }}
            {{ characterform.character() }} {{ characterform.submit() }}
            {% for error in characterform.character.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </form>
    </div>
</section>

</div>

{% if editable %}
<div class="splitcontainer">
<section class="players box">
    <h3>Players</h3>
    <div>
    {% if campaign.players %}
        <ul>
        {% for player in campaign.players %}
            <li {%- if player.user == current_user %} class="strong"{%- endif %}>
                {{ player.user.username }}
                {%- if editable %} [<a href="{{ url_for('campaign.remove_player', id=campaign.id, playerid=player.id) }}">Remove</a>]{%- endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        There are no players.
    {% endif %}
    </div>
</section>
<section class="invites box">
    <h3>Share links</h3>
    <div>
        {% if invites %}
         {% for invite in invites %}
            <a href="{{ url_for('campaign.join', code=invite.id) }}">{{ invite.id }}</a> [<a href="">Remove</a>]<br />
         {% endfor %}
        {% endif %}
        <form action="" method="post">
            {{ createinviteform.hidden_tag() }}
            <p>{{ createinviteform.submit() }}</p>
        </form>
    </div>
</section>
{% endif %}
</div>
</div>
{% endblock %}
