{% extends 'base.html.jinja' %}

{%- macro character_info(character) %}
                <div class="characterinfo splitcontainer">
                    <div class="personalia">
                    {{ character.name }} ({{ character.age }})<br />
                    {{ character.description }}<br />
                    <em>{{ character.player.user.username }}</em><br />
                    [<a href="{{url_for('character.view', id=character.id)}}" {%- if character.player.user == current_user %} class="strong"{%- endif %}>View</a>]
                    {%- if editable or character.player.user == current_user %}
                        [<a href="{{ url_for('campaign.remove_character', id=campaign.id, characterid=character.id) }}">Remove</a>]
                    {%- endif %}
                    </div>
                    <div class="portrait">
                    {% if character.portrait %}<img src="data:image/jpg;base64, {{ character.portrait }}" />{% else %}<img src="{{ url_for('static', filename='images/placeholderportrait.png')}}" />{% endif %}
                    </div>
                </div>
{%- endmacro %}

{%- macro npc_info(npc) %}
                <div class="characterinfo splitcontainer">
                    <div class="personalia npc">
                    {{ npc.character.name }} ({{ npc.character.age }})<br />
                    {{ npc.character.description }}<br />
                    {%- if editable or npc.character.player.user == current_user %}
                        [<a href="{{url_for('character.view', id=npc.character.id)}}" {%- if npc.character.player.user == current_user %} class="strong"{%- endif %}>View</a>]
                        [<a href="{{ url_for('campaign.remove_npc', id=campaign.id, characterid=npc.id) }}">Remove</a>]
                        <input type="checkbox" autocomplete="off" data-campaign="{{ campaign.id }}" data-npc="{{ npc.id }}" {%- if npc.visible %}checked{%- endif %} class="visibility" />
                        [<a href="{{ url_for('campaign.manage_npc', id=campaign.id, npcid=npc.id) }}">Manage</a>]
                    {%- endif %}
                    </div>
                    <div class="portrait">
                    {% if npc.character.portrait %}<img src="data:image/jpg;base64, {{ npc.character.portrait }}" />{% else %}<img src="{{ url_for('static', filename='images/placeholderportrait.png')}}" />{% endif %}
                    </div>
                </div>
{%- endmacro %}

{% block head %}
    {{ super() }}
    {% assets "scss_campaign" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    {{ webpack['campaign.js'] }}
{% endblock %}

{% block header %}
  <h2>{% block title %}{{ campaign.title }}{% endblock %}</h2>
{% endblock %}

{% block menu %}
    {% if editable %}
        <a href="{{ url_for('campaign.edit', id=campaign.id) }}">Edit</a> 
        | 
        <a class="action" href="{{url_for('userassets.index')}}">Assets</a>
    {% endif %}
    {% if current_user.profile in campaign.players %}
        | <a href="">Leave</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="page">

{%- if campaign.description %}
<section class="description box">
    <div class="markdown">
        {{ campaign.description|markdown }}
    </div>
</section>
{% endif %}

<div class="splitcontainer">
{% if campaign.handouts_enabled %}
{% include 'campaign/campaign_handouts.html.jinja' %}
{% endif %}

{% if campaign.characters_enabled %}
{% include 'campaign/campaign_characters.html.jinja' %}
{% endif %}

{% if campaign.npcs_enabled %}
{% include 'campaign/campaign_npcs.html.jinja' %}
{% endif %}

</div>

{% if editable %}
<div class="splitcontainer">
<section class="players box">
    <h3>Players</h3>
    <div>
    {% if campaign.players %}
        <ul>
        {% for player in campaign.players %}
            <li {%- if player.user == current_user %} class="strong"{%- endif %}>
                {{ player.user.username }}
                {%- if editable %} [<a href="{{ url_for('campaign.remove_player', id=campaign.id, playerid=player.id) }}">Remove</a>]{%- endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        There are no players.
    {% endif %}
    </div>
</section>
<section class="invites box">
    <h3>Share links</h3>
    <div>
        {% if invites %}
         {% for invite in invites %}
            <a href="{{ url_for('campaign.join', code=invite.id) }}">{{ invite.id }}</a> [<a href="">Remove</a>]<br />
         {% endfor %}
        {% endif %}
        <form action="" method="post">
            {{ createinviteform.hidden_tag() }}
            <p>{{ createinviteform.submit() }}</p>
        </form>
    </div>
</section>
{% endif %}
</div>
</div>
{% endblock %}
