{% extends 'base.html.jinja' %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block header %}
    <h2>{% block title %}Delete handout "{{ handout.title }}" ? {% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.submit() }}
    </form>
{% endblock %}