{% extends 'shell.html.jinja' %}

{% block head %}
    {{ super() }}

    {% assets "scss_handout" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/handout.js') }}"></script>
{% endblock head %}
{% block header %}
    <h2>Handout '{{ handout.title }}'</h2>
{% endblock %}


{% block body %}
    <div class="markdown">
        {{ handout.content|markdown }}
    </div>
{% endblock %}