{% extends 'base.html.jinja' %}

{% block head %}
    {{ super() }}

    {% assets "scss_handout" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/handout.js') }}"></script>
{% endblock head %}


{% block menu %}
    {% if editable %}
        <a href="{{ url_for('userassets.index') }}">Assets</a>
    {% endif %}
{% endblock %}



{% block header %}
    <h2>Handout: '{{ handout.title }}' in <a href="{{url_for('campaign.view', id=handout.campaign.id)}}">{{ handout.campaign.title }}</a></h2>
{% endblock %}


{% block content %}
    <section class="handout">
        <div class="tabs">
            <div class="tab-content" id="tab_content_view" data-name="View">
                <div id="view" class="container tab-pane active">
                    <div class="markdown">
                        {{ handout.content|markdown }}
                    </div>
                </div>
            </div>
            {% if editable %}
            <div class="tab-content" id="tab_content_edit" data-name="Edit">
                <div id="edit" class="container tab-pane fade">
                    <form action="" method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.title.label }}{{ form.title }}
                        {{ form.content.label }}
                        {{ form.content(class_="markdown-editor") }}
                        {{ assetsform.asset(class_="asset-selector") }}
                        {{ form.status.label }}
                        {{ form.status }}
                        {{ form.submit }}
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}