/*
.character > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}
.character > header > div:first-of-type {
    flex: auto;
}
.character > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}
.character .about {
    color: slategray;
    font-style: italic;
}
.character .body {
    // white-space: pre-line;
}*/

#subskillform {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    margin: 10px;
    padding: 10px;
}

.charactersheet {
    .characteristics {
        table {
            width: 100%;
            tr:nth-child(odd) {
                background-color: #eee;
            }
        }
    }
    .weapons {
        @media
        only screen 
        and (max-width: 760px), (min-device-width: 768px) 
        and (max-device-width: 1024px)  {
    
            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr {
                display: block;
            }
    
            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
    
        tr {
            margin: 0 0 1rem 0;
        }
        
        tr:nth-child(odd) {
            background: #ccc;
        }
        
        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
        Label the data
        You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
        */
        td:nth-of-type(1):before { content: "Weapon"; }
        td:nth-of-type(2):before { content: "Regular"; }
        td:nth-of-type(3):before { content: "Hard"; }
        td:nth-of-type(4):before { content: "Extreme"; }
        td:nth-of-type(5):before { content: "Damage"; }
        td:nth-of-type(6):before { content: "Range"; }
        td:nth-of-type(7):before { content: "Attacks"; }
        td:nth-of-type(8):before { content: "Ammo"; }
        td:nth-of-type(9):before { content: "Malf"; }
        }
        table {
            margin: 0 auto;
            width: 100%;
        }
    }

    .stat {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 0;
        column-gap: 0;
        grid-row-gap: 0;
        grid-column-gap: 0;
        column-count: 2;
        span {
            margin: auto;
            height: 100%;
            width: 100%;
            text-align: center;
            line-height: 100%;
            vertical-align: middle;
        }

        :first-child {
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .half {
            font-size: x-small;
            background-color:rgb(255, 255, 230);
        }

        .fifth {
            font-size: x-small;
            background-color: rgb(255, 230, 230);
        }

    }
    .categories, .backstory {
       columns: 360px;
        column-gap: 1em;
        .backstorysection {
            break-inside: avoid;
        }
        h4 {
            margin: 0;
        }
        div {
            break-inside: avoid;
            page-break-inside: avoid;
        }
    
    }

    .splitcontainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        > div {
            flex-grow: 1;
        }
        .portrait {
            flex-grow: 0;
            align-items: center;
        }
    }

    .box {
        border: 1px solid gray;
        padding: 2px;
        section {
            padding-left: .5em;
            padding-right: .5em;
        }
        h3 {
            text-align: center;
            background-color: rgb(119, 154, 170);
            margin-top: 0;
            margin-bottom: .5em;
        }
    }
}

.editjson {
    textarea {
        width: 90vw;
        min-height: 50vh;
    }
}

#busy {
    background-color: rgba(#000000, .5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}