{
    "meta": {
        "Title": "{{ title }}",
        "Creator": "What happened? A TTRPG utility",
        "CreateDate": "{{ timestamp }}",
        "GameName": "Call of Cthulhu TM",
        "GameVersion": "7th Edition",
        "GameType": "{{ type }}",
        "Disclaimer": "The developer has not rolled for sanity",
        "Version": "0.0.2"
    },
    "personalia": {
        "Name": "Unknown",
        "Occupation": "Unknown",
        "Archetype": null,
        "Gender": "Unknown",
        "Age": "18",
        "Birthplace": "Unknown",
        "Residence": "Unknown",
        "Portrait": null
    },
    "characteristics": {
        "STR": "0",
        "DEX": "0",
        "INT": "0",
        "CON": "0",
        "APP": "0",
        "POW": "0",
        "SIZ": "0",
        "EDU": "0",
        "Move": "0",
        "Luck": "0",
        "LuckMax": "0",
        "Sanity": "0",
        "SanityStart": "0",
        "SanityMax": "99",
        "MagicPts": "0",
        "MagicPtsMax": "0",
        "HitPts": "1",
        "HitPtsMax": "1",
        "DamageBonus": "0",
        "Build": "0",
        "OccupationSkillPoints": "0",
        "PersonalInterestSkillPoints": "0"
    },
    "skills": [
        {
            "name": "Accounting",
            "value": "5",
            "start_value": "5"
        },
        {
            "name": "Anthropology",
            "value": "1",
            "start_value": "1"
        },
        {
            "name": "Appraise",
            "value": "5",
            "start_value": "5"
        },
        {
            "name": "Archaeology",
            "value": "1",
            "start_value": "1"
        },
        {
            "name": "Art/Craft",
            "specializations": true,
            "value": "5",
            "start_value": "5"
        },
        {
            "name": "Charm",
            "value": "15",
            "start_value": "15"
        },
        {
            "name": "Climb",
            "value": "20",
            "start_value": "20"
        },
        {
            "name": "Credit Rating",
            "value": "0",
            "start_value": "0"
        },
        {
            "name": "Cthulhu Mythos",
            "value": "0",
            "start_value": "0"
        },
        {
            "name": "Disguise",
            "value": "5",
            "start_value": "5"
        },
        {
            "name": "Dodge",
            "value": "half DEX",
            "start_value": "half DEX"
        },
        {
            "name": "Drive Auto",
            "value": "20",
            "start_value": "20"
        },
        {
            "name": "Electrical Repair",
            "value": "10",
            "start_value": "10"
        },
        {%- if type == "Modern" %}
        {
            "name": "Electronics",
            "value": "1",
            "start_value": "1"
        },
        {%- endif %}
        {
            "name": "Fast Talk",
            "value": "5",
            "start_value": "5"
        },
        {
            "name": "Fighting",
            "specializations": true,
            "value": "0",
            "start_value": "0",
            "subskills": [
                {
                    "name": "Brawl",
                    "value": "25",
                    "start_value": "25"
                }

            ]
        },
        {
            "name": "Firearms",
            "specializations": true,
            "value": "0",
            "start_value": "0",
            "subskills": [
                {
                    "name": "Handgun",
                    "value": "20",
                    "start_value": "20"
                },
                {
                    "name": "Rifle/Shotgun",
                    "value": "25",
                    "start_value": "25"
                }

            ]
        },
        {
            "name": "First Aid",
            "value": "30",
            "start_value": "30"
        },
        {
            "name": "History",
            "value": "5",
            "start_value": "5"
        },
        {
            "name": "Intimidate",
            "value": "15",
            "start_value": "15"
        },
        {
            "name": "Jump",
            "value": "20",
            "start_value": "20"
        },
        {
            "name": "Language (Other)",
            "specializations": true,
            "value": "1",
            "start_value": "1"
        },
        {
            "name": "Language (Own)",
            "value": "EDU",
            "start_value": "EDU"
        },
        {
            "name": "Law",
            "value": "5",
            "start_value": "5"
        },
        {
            "name": "Library Use",
            "value": "20",
            "start_value": "20"
        },
        {
            "name": "Listen",
            "value": "20",
            "start_value": "20"
        },
        {
            "name": "Locksmith",
            "value": "1",
            "start_value": "1"
        },
        {
            "name": "Mechanical Repair",
            "value": "10",
            "start_value": "10"
        },
        {
            "name": "Medicine",
            "value": "1",
            "start_value": "1"
        },
        {
            "name": "Natural World",
            "value": "10",
            "start_value": "10"
        },
        {
            "name": "Navigate",
            "value": "10",
            "start_value": "10"
        },
        {
            "name": "Occult",
            "value": "5",
            "start_value": "5"
        },
        {
            "name": "Operate Heavy Machine",
            "value": "1",
            "start_value": "1"
        },
        {
            "name": "Persuade",
            "value": "10",
            "start_value": "10"
        },
        {
            "name": "Pilot",
            "specializations": true,
            "value": "1",
            "start_value": "1"
        },
        {
            "name": "Psychology",
            "value": "10",
            "start_value": "10"
        },
        {
            "name": "Psychoanalysis",
            "value": "1",
            "start_value": "1"
        },
        {
            "name": "Ride",
            "value": "5",
            "start_value": "5"
        },
        {
            "name": "Science",
            "specializations": true,
            "value": "1",
            "start_value": "1"
        },
        {
            "name": "Sleight of Hand",
            "value": "10",
            "start_value": "10"
        },
        {
            "name": "Spot Hidden",
            "value": "25",
            "start_value": "25"
        },
        {
            "name": "Stealth",
            "value": "20",
            "start_value": "20"
        },
        {
            "name": "Survival",
            "specializations": true,
            "value": "10",
            "start_value": "10"
        },
        {
            "name": "Swim",
            "value": "20",
            "start_value": "20"
        },
        {
            "name": "Throw",
            "value": "20",
            "start_value": "20"
        },
        {
            "name": "Track",
            "value": "10",
            "start_value": "10"
        }
    ],
    "weapons": [
        {
            "name": "Unarmed",
            "skillname": "Brawl",
            "regular": "0",
            "damage": "1d3 + db",
            "range": "-",
            "attacks": "1",
            "ammo": "-",
            "malf": "-"
        }
    ],
    "combat": {
        "DamageBonus": "0",
        "Build": "0",
        "Dodge": "0"
    },
    "backstory": {
        "description": null,
        "traits": null,
        "ideology": null,
        "injurues": null,
        "people": null,
        "phobias": null,
        "locations": null,
        "tomes": null,
        "possessions": null,
        "encounters": null
    },
    "possessions": null,
    "cash": {
        "spending": "0",
        "cash": "0",
        "assets": "0"
    },
    "assets": null
}
