{% extends 'character/sheet.html.jinja' %}

{%- macro render_object(object, path='') %}
    Path: {{ path }}<br />
    {% for key, value in object.properties.items() %}
        {% if value.type == 'string' or value.type == 'integer' %}
            {{ key }}: {{ editable_field(path + '.' + key, type=html_data_type(value.type)) }}<br />
        {% elif value.type == 'boolean' %}
            {{key}}: {{ editable_binary(path + '.' + key) }}<br />
        {% else %}
        {{path}}.{{key}} {{ value }}<br />
        {% endif %}
    {% endfor %}
{%- endmacro %}

{%- macro render_section(name, section, path='') %}
    <div class="box">
    <h3>{{ name }}</h3>
    {% if 'type' in section and section.type == 'object' %}
        {{ render_object(section, name)}}
    {% endif %}
    </div>
{%- endmacro %}


{% block head %}
    {{ super() }}

    {% assets "scss_character_tftl" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

    {% if editable %}
    {{ webpack['tftl.js']}}
    {% endif %}

{% endblock %}


{% block content %}
<div id="busy">

</div>

<div class="extrainfo">
  {% if editable and character.campaigns %}
    In campaign(s): <a href="{{url_for('campaign.view', id=character.campaigns.0.id)}}">{{ character.campaigns.0.title }}</a>
  {% endif %}

</div>

<div class="charactersheet">
{% for key, value in schema.properties.items() %}
    <section id="{{ key }}">
        {{ render_section(key, value) }}
    </section>
{% endfor %}
</div>

{% endblock %}
