{% extends 'character/sheet.html.jinja' %}

{%- macro render_object(object, path='') %}
    Path: {{ path }}<br />
    {% for key, value in object.properties.items() %}
        {{ key }}: {{ render_item(value, path + '.' + key) }}<br />
    {% endfor %}
{%- endmacro %}

{%- macro render_item(item, path='' )%}
    {% if 'type' in item and item.type == 'object' %}
        {{ render_object(item, path)}}
    {% elif 'type' in item and item.type == 'array' %}
        Here is a list
    {% elif 'type' in item and (item.type == 'integer' or item.type == 'string') %}
        {{ editable_field(path, type=html_data_type(item.type)) }}
    {% elif 'type' in item and item.type == 'boolean'%}
        {{ editable_binary(path) }}
    {% else %}
        {{ item }}
    {% endif %}
{%- endmacro %}

{%- macro render_section(name, section, path='') %}
    <div class="box">
    <h3>{{ name }}</h3>
    {{ render_item(section, path + "." + name)}}    
    </div>
{%- endmacro %}


{% block head %}
    {{ super() }}

    {% assets "scss_character_tftl" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

    {% if editable %}
    {{ webpack['tftl.js']}}
    {% endif %}

{% endblock %}


{% block content %}
<div id="busy">

</div>

<div class="extrainfo">
  {% if editable and character.campaigns %}
    In campaign(s): <a href="{{url_for('campaign.view', id=character.campaigns.0.id)}}">{{ character.campaigns.0.title }}</a>
  {% endif %}

</div>

<div class="charactersheet">
{% for key, value in schema.properties.character_sheet.properties.items() %}
    <section id="{{ key }}">
        {{ render_section(key, value, 'character_sheet') }}
    </section>
{% endfor %}
</div>

{% endblock %}
