<section class="handouts box{%- if editable %} editable{%- endif %}" id="handout_section">
<h3>Handouts</h3>

{% if editable %}
<table class="table-header-rotated handoutshares">
<thead>
<tr>
    <th></th>
    {% for player in campaign.players %}
    <th class="rot90">
        <div>
            <span>
            {{ player.user.username }}
            </span>
        </div>
    </th>
    {% endfor %}
</tr>
</thead>
<tbody>
{% for handout in handouts %}
    <tr>      
        <th><a href="{{ url_for('campaign.handout_view', campaign_id=campaign.id, handout_id=handout.id) }}">{{ handout.title }}</a></th>
        {% for player in campaign.players %}
        <td>
            <input type="checkbox" autocomplete="off" {%- if player in handout.players %}checked{%- endif %} data-handout="{{ handout.id }}"  data-campaign="{{ campaign.id }}" data-player="{{ player.id }}"/>
        </td>
        {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
    <a href="{{ url_for('campaign.handout_view', campaign_id=campaign.id) }}">Edit handouts</a>
{% else %}
    <ul class="player_handouts" data-campaign="{{ campaign.id}}">
{% for handout in handouts %}
    {%- if current_user.profile in handout.players %}<li><a href="{{ url_for('campaign.handout_view', campaign_id=campaign.id, handout_id=handout.id) }}">{{ handout.title }}</a></li>{%- endif %}
{% endfor %}
    </ul>

    [<a href="{{ url_for('campaign.handout_view', campaign_id=campaign.id) }}">Archive</a>]

{% endif %}
</section>
