<div class="box campaign_document">
<h3>Document</h3>
<iframe src='{{ pad_data.endpoint }}/p/{{ pad_data.group_id }}$campaign_document_{{ campaign.id }}?showChat=false&showLineNumbers=false&userName={{ current_user.username }}' width="100%" height="600px"></iframe>
</div>
