{% extends 'base.html.jinja' %}

{% block header %}
  <h2>{% block title %}Edit campaign{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form action="" method="post">
    {{ form.hidden_tag() }}
        <p>
          {{ form.title.label }}<br>
          {{ form.title(size=32) }}<br>
          {% for error in form.title.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
        <p>
          {{ form.description.label }}<br>
          {{ form.description }}<br>
          {% for error in form.description.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
        <p>
          {{ form.characters_enabled.label }}
          {{ form.characters_enabled }}<br>
          {% for error in form.characters_enabled.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          {{ form.npcs_enabled.label }}
          {{ form.npcs_enabled }}<br>
          {% for error in form.npcs_enabled.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          {{ form.handouts_enabled.label }}
          {{ form.handouts_enabled }}<br>
          {% for error in form.handouts_enabled.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          {{ form.messages_enabled.label }}
          {{ form.messages_enabled }}<br>
          {% for error in form.messages_enabled.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          {{ form.document_enabled.label }}
          {{ form.document_enabled }}<br>
          {% for error in form.document_enabled.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
  </form>
  <form action="" method="post">
    {{ folderform.hidden_tag() }}
        <p>
        Put in folder: 
            {{ folderform.folder_id }}
            {% for error in folderform.folder_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ folderform.choose()}}
        </p>

  </form>
  <section>
  <h3>Numbers</h3>
  <ul>
  <li>Players: {{ campaign.players.count() }}</li>
  <li>Characters: {{ campaign.characters.count() }}</li>
  <li>NPCs: {{ campaign.NPCs.count() }} </li>
  <li>Handouts: {{ campaign.handouts.count() }}</li>
  <li>Handout groups: {{ campaign.handout_groups.count() }}</li>
  <li>Messages: {{ campaign.messages.count() }}</li>
  <li>Invites: {{ invites }}</li>
  
  </ul>
  </section>
  <section>
  <h3>Danger zone</h3>
  <form action="" method="post">
  {{ deleteform.hidden_tag() }}
  <p>
    {{ deleteform.id }}
    To delete the campaign, write CONFIRM in the input field, then press Delete.
    It will immediatly delete the campaign, all associated handouts, messages and invites, and it can not be undone!
    {{ deleteform.confirm }}
    {{ deleteform.submit }}
  </p>
  </form>
  </section>
{% endblock %}
