{% extends 'base.html.jinja' %}
{% block head %}
    {{ super() }}
    {% assets "scss_handout" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block header %}
    <h2>Handouts for <a href="{{ url_for('campaign.view', campaign_id=campaign.id) }}">'{{ campaign.title }}'</a></h2>
{% endblock %}


{% block content %}
    <section class="handouts">
    <ul>
    {% for group, group_handouts in groups.items() %}
        {% if group_handouts %}
        <li>
            {{ group }}
            <ul>
            {% for handout in group_handouts %}
                <li>
                    <a href="{{ url_for('campaign.handout_view', campaign_id=campaign.id, handout_id=handout.id) }}" class="{{ handout.status.name }}">{{ handout.title }}</a>
                    {%- if editable %} [ <a href="{{ url_for('campaign.handout_delete', campaign_id=campaign.id, handout_id=handout.id) }}">Delete</a> ] {%- endif %}
                </li>
            {% endfor %}
            </ul>
        </li>
        {% endif %}
    {% endfor %}
    {% for handout in handouts %}
    <li>
        <a href="{{ url_for('campaign.handout_view', campaign_id=campaign.id, handout_id=handout.id) }}" class="{{ handout.status.name }}">{{ handout.title }}</a>
         {%- if editable %} [ <a href="{{ url_for('campaign.handout_delete', campaign_id=campaign.id, handout_id=handout.id) }}">Delete</a> ] {%- endif %}
    </li>
    {% endfor %}
    <ul>
    </section>

    {% if editable %}
    <section class="create">
        <form action="" method="post">
            {{ handoutform.hidden_tag() }}
                <p>
                {{ handoutform.title.label }}<br>
                {{ handoutform.title(size=32) }}<br>
                {% for error in handoutform.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ handoutform.submit() }}</p>
        </form>
        <form action="" method="post">
            {{ groupform.hidden_tag() }}
                <p>
                {{ groupform.name.label }}<br>
                {{ groupform.name(size=32) }}<br>
                {% for error in groupform.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ groupform.submit() }}</p>
        </form>
    </section>
    {% endif %}
{% endblock %}
