{% extends 'base.html.jinja' %}

{% block header %}
  <h1>{% block title %}Character{% endblock %}</h1>
  {% if not current_user.is_anonymous %}
    <a class="action" href="{{ url_for('character.create', chartype='coc') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for character in characters %}
    <article class="character">
      <header>
        <div>
        <a class="action" href="{{ url_for('character.view', id=character['id']) }}">
          <h1>{{ character['title'] }}</h1>
          </a>
          <div class="about">by {{ character['username'] }} on {{ character['created'].strftime('%Y-%m-%d') }}</div>
        </div>
      </header>
      <div class="character body summary">
      <div style="display: inline-block; vertical-align: top;">
        {{ character['data']['Investigator']['PersonalDetails']['Name'] }}<br />
        {{ character['data']['Investigator']['PersonalDetails']['Occupation'] }}<br />
        {{ character['data']['Investigator']['PersonalDetails']['Gender'] }}<br />
        {{ character['data']['Investigator']['PersonalDetails']['Age'] }}<br />
        {{ character['data']['Investigator']['PersonalDetails']['Birthplace'] }}<br />
        {{ character['data']['Investigator']['PersonalDetails']['Residence'] }}<br />
    </div>
    <div style="display: inline-block; vertical-align: top;">
        <img src="data:image/jpg;base64, {{ character['data']['Investigator']['PersonalDetails']['Portrait'] }}" />
        </div>
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
