{% extends 'base.html.jinja' %}

{% block head %}
    {% assets "ts_coc" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block header %}
  <h1>{% block title %}{{ character['data']['PersonalDetails']['Name']}}{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('character.update', id=character['id']) }}">Edit</a>
  {% endif %}
{% endblock %}

{% macro editable_field(field, default='') -%}
    <span {%- if editable %} class="editable" {% endif -%} data-field="{{field}}">{{ dict_path(character['data'], field) or default }}</span>    
{%- endmacro %}

{% macro editable_skill(field, subfield=None, default='') -%}
    <span {%- if editable %} class="editable" {% endif -%} data-field="{{field}}" data-subfield="{{subfield}}" data-type="skill">{{ get_skill(character['data'], field, subfield)['value'] or '0' }}</span>
{%- endmacro %}

{% macro skill_checkmark(field, subfield=None) -%}
    {%- if editable %}<input type="checkbox" data-field="{{field}}" data-subfield="{{subfield}}" data-type="skillcheck" {%- if get_skill(character['data'], field, subfield)['checked'] %}checked{%- endif %} />{%- else %}
        {%- if get_skill(character['data'], field, subfield)['checked'] %}*{%- else %}&nbsp;&nbsp;{%- endif %}
    {%- endif %}

{%- endmacro %}

{% block content %}
<div class="charactersheet">
<div class="skills">
    <div class="box personalia">
        <span>Name: </span>{{ editable_field("PersonalDetails.Name", "Unknown") }}<br />
        <span>Occupation: </span><span>{{ editable_field("PersonalDetails.Occupation", "Unknown") }}</span><br />
        <span>Age: </span>{{ editable_field("PersonalDetails.Age", "18") }}
        <span>Sex: </span><span>{{ editable_field('PersonalDetails.Gender', 'Unknown')}}</span><br />
        <span>Residence: </span><span>{{ editable_field("PersonalDetails.Residence", "Unknown") }}</span><br />
        <span>Birthplace: </span><span>{{ editable_field("PersonalDetails.Birthplace", "Unknown") }}</span><br />
    </div>
    <div class="box characteristics">
        <table>
            <tr>
                <td>STR: {{ editable_field('Characteristics.STR') }}</td>
                <td>DEX: {{ editable_field('Characteristics.DEX') }}</td>
                <td>POW: {{ editable_field('Characteristics.POW') }}</td>
            </tr>
            <tr>
                <td>CON: {{ editable_field('Characteristics.CON') }}</td>
                <td>APP: {{ editable_field('Characteristics.APP') }}</td>
                <td>EDU: {{ editable_field('Characteristics.EDU') }}</td>
            </tr>
            <tr>
                <td>SIZ: {{ editable_field('Characteristics.SIZ') }}</td>
                <td>INT: {{ editable_field('Characteristics.INT') }}</td>
                <td>Move: {{ editable_field('Characteristics.Move') }}</td>
            </tr>
        </table>
    </div>
    <div class="box">
        <div class="hitpoints">
            Hitpoints<br />
            &nbsp;Current: {{ editable_field("Characteristics.HitPts") }} Max: {{ editable_field("Characteristics.HitPtsMax") }}
        </div>
        <div class="sanity">Sanity<br />
            &nbsp;Current {{ editable_field('Characteristics.Sanity', "0") }} Max: {{ editable_field('Characteristics.SanityMax', "0") }}</div>
        <div class="magicpoints">Magic points <br />
            &nbsp;Current: {{ editable_field('Characteristics.MagicPts', "0") }} Max: {{ editable_field('Characteristics.MagicPtsMax', "0") }}</div>
        <div class="luck">Luck<br />
            &nbsp;Current: {{ editable_field('Characteristics.Luck', "0") }} Max: {{ editable_field('Characteristics.LuckMax', "0") }}</div>
        </div>
    </div>
    <div class="skills">
        {% for skill in character['data']['Skills']['Skill'] %}
        {% if loop.previtem and loop.previtem['name'] == skill['name'] and loop.previtem['subskill'] == skill['subskill'] %}
        {% else %}
        <div class="skill">
            <span>{{skill_checkmark("Skills.Skill#" + skill['name'], skill['subskill'] or None ) }}</span>
            
            <span>{{ skill['name'] }}{% if skill['occupation'] %}*{% endif %}{%- if skill['subskill'] and skill['subskill'] != "None" %}: {{ skill['subskill']}} {% endif %}</span>
            
            <span class="value">{{ editable_skill("Skills.Skill#" + skill['name'], skill['subskill'] or None, 0)}}</span>
        </div>  
        {% endif %}     
        {% endfor %}
    </div>
</div>
{% endblock %}