{
    "version": "0.0.8",
    "system": "coc7e",
    "meta": {
        "title": {{ title|tojson }},
        "creator": "What happened? A TTRPG utility",
        "createdate": "{{ timestamp }}",
        "gamename": "Call of Cthulhu TM",
        "gameversion": "7th Edition",
        "gametype": "{{ gametype }}",
        "disclaimer": "The developer has not rolled for sanity"
    },
    "character_sheet": {
        "personalia": {
            "name": "Unknown",
            "occupation": "Unknown",
            "gender": "Unknown",
            "age": "18",
            "birthplace": "Unknown",
            "residence": "Unknown",
            "portrait": null
        },
        "characteristics": {
            "STR": 0,
            "DEX": 0,
            "INT": 0,
            "CON": 0,
            "APP": 0,
            "POW": 0,
            "SIZ": 0,
            "EDU": 0,
            "move": 0,
            "luck": 0,
            "luck_max": 0,
            "sanity": 0,
            "sanity_start": 0,
            "sanity_max": 99,
            "sanity_temporary_insane": false,
            "sanity_indefinitely_insane": false,
            "magic_points": 0,
            "magic_points_max": 0,
            "hit_points": 1,
            "hit_points_max": 1,
            "hit_points_major_wound": false,
            "occupation_skill_points": 0,
            "personal_interest_skill_points": 0
        },
        "skills": [
            {
                "name": "Accounting",
                "value": 5,
                "start_value": 5
            },
            {
                "name": "Anthropology",
                "value": 1,
                "start_value": 1
            },
            {
                "name": "Appraise",
                "value": 5,
                "start_value": 5
            },
            {
                "name": "Archaeology",
                "value": 1,
                "start_value": 1
            },
            {
                "name": "Art/Craft",
                "specializations": true,
                "value": 5,
                "start_value": 5
            },
            {
                "name": "Charm",
                "value": 15,
                "start_value": 15
            },
            {
                "name": "Climb",
                "value": 20,
                "start_value": 20
            },
            {%- if gametype == "Modern" %}
            {
                "name": "Computer Use",
                "value": 5,
                "start_value": 5
            },
            {%- endif %}
            {
                "name": "Credit Rating",
                "value": 0,
                "start_value": 0
            },
            {
                "name": "Cthulhu Mythos",
                "value": 0,
                "start_value": 0
            },
            {
                "name": "Disguise",
                "value": 5,
                "start_value": 5
            },
            {
                "name": "Dodge",
                "value": 0,
                "start_value": "half DEX"
            },
            {
                "name": "Drive Auto",
                "value": 20,
                "start_value": 20
            },
            {
                "name": "Electrical Repair",
                "value": 10,
                "start_value": 10
            },
            {%- if gametype == "Modern" %}
            {
                "name": "Electronics",
                "value": 1,
                "start_value": 1
            },
            {%- endif %}
            {
                "name": "Fast Talk",
                "value": 5,
                "start_value": 5
            },
            {
                "name": "Fighting",
                "specializations": true,
                "value": 0,
                "start_value": 0,
                "subskills": [
                    {
                        "name": "Brawl",
                        "value": 25,
                        "start_value": 25
                    }

                ]
            },
            {
                "name": "Firearms",
                "specializations": true,
                "value": 0,
                "start_value": 0,
                "subskills": [
                    {
                        "name": "Handgun",
                        "value": 20,
                        "start_value": 20
                    },
                    {
                        "name": "Rifle/Shotgun",
                        "value": 25,
                        "start_value": 25
                    }

                ]
            },
            {
                "name": "First Aid",
                "value": 30,
                "start_value": 30
            },
            {
                "name": "History",
                "value": 5,
                "start_value": 5
            },
            {
                "name": "Intimidate",
                "value": 15,
                "start_value": 15
            },
            {
                "name": "Jump",
                "value": 20,
                "start_value": 20
            },
            {
                "name": "Language (Other)",
                "specializations": true,
                "value": 1,
                "start_value": 1
            },
            {
                "name": "Language (Own)",
                "value": 0,
                "start_value": "EDU"
            },
            {
                "name": "Law",
                "value": 5,
                "start_value": 5
            },
            {
                "name": "Library Use",
                "value": 20,
                "start_value": 20
            },
            {
                "name": "Listen",
                "value": 20,
                "start_value": 20
            },
            {
                "name": "Locksmith",
                "value": 1,
                "start_value": 1
            },
            {
                "name": "Mechanical Repair",
                "value": 10,
                "start_value": 10
            },
            {
                "name": "Medicine",
                "value": 1,
                "start_value": 1
            },
            {
                "name": "Natural World",
                "value": 10,
                "start_value": 10
            },
            {
                "name": "Navigate",
                "value": 10,
                "start_value": 10
            },
            {
                "name": "Occult",
                "value": 5,
                "start_value": 5
            },
            {
                "name": "Operate Heavy Machine",
                "value": 1,
                "start_value": 1
            },
            {
                "name": "Persuade",
                "value": 10,
                "start_value": 10
            },
            {
                "name": "Pilot",
                "specializations": true,
                "value": 1,
                "start_value": 1
            },
            {
                "name": "Psychology",
                "value": 10,
                "start_value": 10
            },
            {
                "name": "Psychoanalysis",
                "value": 1,
                "start_value": 1
            },
            {
                "name": "Ride",
                "value": 5,
                "start_value": 5
            },
            {
                "name": "Science",
                "specializations": true,
                "value": 1,
                "start_value": 1
            },
            {
                "name": "Sleight of Hand",
                "value": 10,
                "start_value": 10
            },
            {
                "name": "Spot Hidden",
                "value": 25,
                "start_value": 25
            },
            {
                "name": "Stealth",
                "value": 20,
                "start_value": 20
            },
            {
                "name": "Survival",
                "specializations": true,
                "value": 10,
                "start_value": 10
            },
            {
                "name": "Swim",
                "value": 20,
                "start_value": 20
            },
            {
                "name": "Throw",
                "value": 20,
                "start_value": 20
            },
            {
                "name": "Track",
                "value": 10,
                "start_value": 10
            }
        ],
        "weapons": [
            {
                "name": "Unarmed",
                "skillname": "Brawl",
                "regular": 0,
                "damage": "1d3 + db",
                "range": "-",
                "attacks": 1,
                "ammo": "-",
                "malf": "-"
            }
        ],
        "combat": {
            "damage_bonus": 0,
            "build": 0,
            "dodge": 0
        },
        "backstory": {
            "description": null,
            "traits": null,
            "ideology": null,
            "injuries": null,
            "people": null,
            "phobias": null,
            "locations": null,
            "tomes": null,
            "possessions": null,
            "encounters": null
        },
        "possessions": null,
        "cash": {
            "spending": 0,
            "cash": 0,
            "assets": 0
        },
        "assets": null,
        "notes": null
    }
}