@import "markdown.scss";

#show_add_character,#add_character_form,#show_add_npc,#add_npc_form {
    display:none;
}


#show_add_character + label, #show_add_npc + label {
    color: gray;
}

#show_add_character:checked + label, #show_add_npc:checked + label {
    color: black;
}

#show_add_character:checked~#add_character_form, #show_add_npc:checked~#add_npc_form {
    display:block;
}

.strong {
    font-weight: 800;
    font-style: italic;
}

section {
    li {
        list-style: none;
    }
}

.handouts {
    .table-header-rotated {
        border-collapse: collapse;
        //width: 100%;
        th {
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
          }
        td {
            width: 30px;
            text-align: center;
            padding: 10px 5px;
            border: 1px solid #ccc;
        }        
    }
    .rot90 {
        height: 140px;
        white-space: nowrap;

        > div {
            transform: 
                translate(4px, 54px)
                rotate(270deg);
            width: 30px;
        }
        > div > span {
                border-bottom: 1px solid #ccc;
                padding: 0px 10px;
            }
    }
}

.characterinfo {
    border-bottom: 1px solid black;
    padding: 4px;
    .portrait {
        width: 100px;
        height: 150px;
        background-color: gray;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}