/*
.character > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}
.character > header > div:first-of-type {
    flex: auto;
}
.character > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}
.character .about {
    color: slategray;
    font-style: italic;
}
.character .body {
    // white-space: pre-line;
}*/

.charactersheet {
    .header {

    }
    .skills {
        border: 1px solid gray;
        columns: 360px;
        column-gap: 2em;
        .skill {
            border-bottom: 1px dotted gray;
            .value {
                input {
                    width: 3em;
                }
            }
            & .occupation {
                    font-weight: bolder;
                }
        }

    }
    .categories, .backstory {
        columns: 360px;
        column-gap: 1em;
        div {
            break-inside: avoid;
            page-break-inside: avoid;
        }
    
    }

    .splitcontainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        > div {
            flex-grow: 1;
        }/*
        .gearpossessions {
            width: 66%;
        }
        .cashassets {
            width: 33%;
            height: 100%;
        }*/
        .portrait {
            flex-grow: 1;
        }
    }

    .box {
        border: 1px solid gray;
        padding: 2px;
        h3 {
            text-align: center;
            background-color: rgb(119, 154, 170);
            margin-top: 0;
        }
    }
    .portrait {
        align-items: center;
        img {
            height: 100%;
        }
    }

}

.editjson {
    textarea {
        width: 90vw;
        min-height: 50vh;
    }
}