$tftl_orange: #ed8823;

.charactersheet {
    display: grid;
    grid-template-columns: 2fr 3fr;
    .box {
        h3 {
            background-color: $tftl_orange;
        }
    }

    .keyvalue {
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        * {
            height: 100%;
            &:nth-child(4n-1) {
                background-color: lightgray;
            }
            &:nth-child(4n) {
                background-color: lightgray;
            }
        }
        label {
            padding: 5px;
            padding-left: 10px;
        }

        span {
            text-align: right;
            padding: 5px;
            padding-right: 10px;
        }
    }
}
