$system_color: #119911;

.charactersheet {

    //display: grid;
    //grid-template-columns: 1fr 1fr;
    column-gap: 0;

    @media screen and (min-width: 960px) {
        column-count: 2;

    }

    @media screen and (min-width: 1900px) {
        column-count: 3;

    }

    section {
        break-inside: avoid;
    }

    td {
        vertical-align: top;
    }

    .box {
        h3 {
            background-color: $system_color;
        }
    }

    .keyvalue {
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        * {
            height: 100%;

            &:nth-child(4n-1) {
                background-color: lightgray;
            }

            &:nth-child(4n) {
                background-color: lightgray;
            }

        }

        label {
            padding: 5px;
            padding-left: 10px;
        }

        span {
            text-align: right;
            padding: 5px;
            padding-right: 10px;
        }
    }

    span {
        &.editable {
            font-weight: bold;
        }
    }

    .editable_check_progress {
        input {
            margin: 0;
        }
    }
}
