{% extends 'base.html.jinja' %}

{%- macro editable_field(value, field, default='', type='string', minimum=None, maximum=None, filter="", constant=False) %}
<span {%- if not constant %} class="editable" {%- endif %} data-field="{{ field }}" data-type="{{ type }}"
    {%- if minimum %}data-min="{{minimum}}" {%- endif %} {%- if maximum %}data-max="{{maximum}}"
    {%- endif %} title="{{type|capitalize}}{%- if minimum %} Minimum: {{minimum}}{%- endif %}{%- if maximum %} Maximum: {{maximum}}{%- endif%}">{{
    value }}</span>
{%- endmacro %}

{% block head %}
{{ super() }}
    {% assets "scss_profile" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    <script src="{{ 'system.js' | webpack}}"></script>

{% endblock %}

{% block menu %}
{% include 'profile/menu.html.jinja' %}
{% endblock %}


{% block content %}
<section id="user">
<h3>User information</h3>
<ul>
<li>Username: {{ user.username }}</li>
<li>e-mail: {{ user.email }}</li>
<li>User id: {{ user.id }}</li>
</ul>
</section>
<section id="user_profile">
<h3>User profile</h3>
<ul>
<li>Display name: {{ editable_field(profile.display_name, "profile/settings.display_name") }}</li>
<li>Profile id: {{ profile.id }} </li>
</ul>
</section>
{% if invites %}
<section id="invites">
<h3>Invite friends</h3>
{% if invites.invitations %}
<table>
<tr><th>Email</th><th>Status</th></tr>
{% for invite in invites.invitations %}
<tr><td>{{ invite.1.email }}</td><td>{{ invite.1.status.name }}</td></tr>
{% endfor %}
</table>
{% endif %}
    <form action="/profile/settings/invite" method="post">
        {{ invites.form.hidden_tag() }}
        <p>
            {{ invites.form.email.label }}<br>
            {{ invites.form.email(size=32) }}<br>
            {% for error in invites.form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ invites.form.submit() }}</p>
    </form>
</section>
{% endif %}
{% endblock%}

