{
    "Investigator": {
        "Header": {
            "Title": "Investigator Export: Character Sheet",
            "Creator": "What happened? A TTRPG utility",
            "CreateDate": "{{ timestamp }}",
            "GameName": "Call of Cthulhu TM",
            "GameVersion": "7th Edition",
            "GameType": "Classic (1920's)",
            "Discalimer": "The developer has not rolled for sanity",
            "Version": "0.0.1"
        },
        "PersonalDetails": {
            "Name": "Unknown",
            "Occupation": "",
            "Archetype": null,
            "Gender": "",
            "Age": "18",
            "Birthplace": "",
            "Residence": "",
            "Portrait": null
        },
        "Characteristics": {
            "STR": "0",
            "DEX": "0",
            "INT": "0",
            "CON": "0",
            "APP": "0",
            "POW": "0",
            "SIZ": "0",
            "EDU": "0",
            "Move": "0",
            "Luck": "0",
            "LuckMax": "0",
            "Sanity": "0",
            "SanityStart": "0",
            "SanityMax": "99",
            "MagicPts": "0",
            "MagicPtsMax": "0",
            "HitPts": "1",
            "HitPtsMax": "1",
            "DamageBonus": "0",
            "Build": "0",
            "OccupationSkillPoints": "0",
            "PersonalInterestSkillPoints": "0"
        },
        "Skills": {
            "Skill": [
                {
                    "name": "Accounting",
                    "occupation": "true",
                    "value": "0",
                },
                {
                    "name": "Anthropology",
                    "value": "0",
                },
                {
                    "name": "Appraise",
                    "value": "0",
                },
                {
                    "name": "Archaeology",
                    "occupation": "true",
                    "value": "0",
                },
                {
                    "name": "Art/Craft",
                    "subskill": "None",
                    "value": "0",
                },
                {
                    "name": "Charm",
                    "value": "0",
                },
                {
                    "name": "Climb",
                    "value": "0",
                },
                {
                    "name": "Credit Rating",
                    "occupation": "true",
                    "value": "0",
                },
                {
                    "name": "Cthulhu Mythos",
                    "value": "0",
                },
                {
                    "name": "Disguise",
                    "value": "0",
                },
                {
                    "name": "Dodge",
                    "value": "0",
                },
                {
                    "name": "Drive Auto",
                    "value": "0",
                },
                {
                    "name": "Electrical Repair",
                    "value": "0",
                },
                {
                    "name": "Fast Talk",
                    "value": "0",
                },
                {
                    "name": "Fighting",
                    "subskill": "Brawl",
                    "value": "0",
                },
                {
                    "name": "Fighting",
                    "subskill": "None",
                    "value": "0",
                },
                {
                    "name": "Firearms",
                    "subskill": "Handgun",
                    "value": "0",
                },
                {
                    "name": "Firearms",
                    "subskill": "Rifle/Shotgun",
                    "value": "0",
                },
                {
                    "name": "Firearms",
                    "subskill": "None",
                    "None": "true",
                    "value": "0",
                },
                {
                    "name": "First Aid",
                    "value": "0",
                },
                {
                    "name": "History",
                    "value": "0",
                },
                {
                    "name": "Intimidate",
                    "value": "0",
                },
                {
                    "name": "Jump",
                    "value": "0",
                },
                {
                    "name": "Language (Other)",
                    "subskill": "None",
                    "value": "0",
                },
                {
                    "name": "Language (Own)",
                    "subskill": "English",
                    "value": "0",
                },
                {
                    "name": "Law",
                    "value": "0",
                },
                {
                    "name": "Library Use",
                    "occupation": "true",
                    "value": "0",
                },
                {
                    "name": "Listen",
                    "occupation": "true",
                    "value": "0",
                },
                {
                    "name": "Locksmith",
                    "occupation": "true",
                    "value": "0",
                },
                {
                    "name": "Mechanical Repair",
                    "value": "0",
                },
                {
                    "name": "Medicine",
                    "value": "0",
                },
                {
                    "name": "Natural World",
                    "value": "0",
                },
                {
                    "name": "Navigate",
                    "value": "0",
                },
                {
                    "name": "Occult",
                    "value": "0",
                },
                {
                    "name": "Operate Heavy Machine",
                    "value": "0",
                },
                {
                    "name": "Persuade",
                    "occupation": "true",
                    "value": "0",
                },
                {
                    "name": "Pilot",
                    "subskill": "None",
                    "value": "0",
                },
                {
                    "name": "Psychology",
                    "occupation": "true",
                    "value": "0",
                },
                {
                    "name": "Psychoanalysis",
                    "occupation": "true",
                    "value": "0",
                },
                {
                    "name": "Ride",
                    "value": "0",
                },
                {
                    "name": "Science",
                    "subskill": "None",
                    "value": "0",
                },
                {
                    "name": "Sleight of Hand",
                    "value": "0",
                },
                {
                    "name": "Spot Hidden",
                    "value": "0",
                },
                {
                    "name": "Stealth",
                    "value": "0",
                },
                {
                    "name": "Survival",
                    "subskill": "None",
                    "value": "0",
                },
                {
                    "name": "Swim",
                    "value": "0",
                },
                {
                    "name": "Throw",
                    "value": "0",
                },
                {
                    "name": "Track",
                    "value": "0",
                },
                {
                    "name": "Misc",
                    "subskill": "None",
                    "value": "0",
                },
                {
                    "name": "Misc",
                    "subskill": "None",
                    "value": "0",
                }
            ]
        },
        "Talents": null,
        "Weapons": {
            "weapon": {
                "name": "Unarmed",
                "skillname": "Brawl",
                "regular": "0",
                "damage": "0",
                "range": "-",
                "attacks": "1",
                "ammo": "-",
                "malf": "-"
            }
        },
        "Combat": {
            "DamageBonus": "0",
            "Build": "0",
            "Dodge": {
                "value": "0"
            }
        },
        "Backstory": {
            "description": null,
            "traits": null,
            "ideology": null,
            "injurues": null,
            "people": null,
            "phobias": null,
            "locations": null,
            "tomes": null,
            "possessions": null,
            "encounters": null
        },
        "Possessions": null,
        "Cash": {
            "spending": "0",
            "cash": "0",
            "assets": "0"
        },
        "Assets": null
    }
}
