<!DOCTYPE html>
<title>{% block title%}{% endblock %} - What Happened?</title>
{% assets "scss_all" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}

<nav>
    <h1>What Happened?</h1>
    <ul>
        {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log in</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
